# Ignore environment variable files
.env

# Ignore virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore cloudflared binaries
cloudflared.deb
cloudflared-linux-amd64.deb
*.deb
